.sidebar {
    position: fixed;
    width: 20vw;
    height: 100vh;
    background: white;
    left:-20vw;
    transition: all 0.5s linear;
}
.active{
    position: fixed;
    width: 20vw;
    height: 50vh;
    background: inherit;
    left:0vw;
    border: 2px solid black ;
    box-shadow: 5px 5px 2px black;
    border-radius: 20%;
    transition: all 0.5s linear;
}
.sidebar .active{
    left: 0vw;
}
.sidebar ul li, .active ul li{
    color: blueviolet;
    list-style: none;
    margin: 5rem 3rem;
    border-bottom: 1px solid blue;
}
.sidebar .toggle-btn,.active .toggle-btn{
    position: absolute;
    left: 170px;
    top: 1px;
    z-index: 1;
}
.sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 3px;

    background: #3498db;
    margin: 5px 0px;
}
.active .toggle-btn span{
    display: block;
    width: 30px;
    height: 3px;
    background: red;
    margin: 5px 0px;

}

.logo {
    text-align: center;
z-index: -1;
}

/*.navLinks {

    display:flex;
    flex:2;
    margin-left: auto;
    height: 10vh;
    font-size: 1.8rem;
    list-style: none;
    color: crimson;
    justify-content: space-around;
    
}

.navLink li Link{
    text-decoration: none;
    color: crimson;
    font-size: 1.8rem;
}

.logo {
    flex:1;
    color:red;
}*/

