.sidebar {
    position: fixed;
    width: 20vw;
    height: 100vh;
    background: white;
    /*left:-20vw;*/
    transform: translateX(-100%);
    transition: all 0.5s linear;
}
.active{
    position: fixed;
    width: 20vw;
    height: 50vh;
    background: yellow;
    transform: translateX(0);
    border: 2px solid black ;
    box-shadow: 5px 5px 2px black;
    border-radius: 5%;
    transition: all 0.5s linear;
    z-index: 1;
}
.sidebar .active{
    left: 0vw;
}
.sidebar ul li, .active ul li{
    color: blueviolet;
    list-style: none;

    margin: 5rem 3rem;
    border-bottom: 1px solid blue;
}
.sidebar .toggle-btn,.active .toggle-btn{
    position: absolute;
    left: 100%;
    top: 0%;
    margin-left: 1rem;
    z-index: 1;
}
.sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 3px;

    background: #3498db;
    margin: 5px 0px;
}
.active .toggle-btn span{
    display: block;
    width: 30px;
    height: 3px;
    background: red;
    margin: 5px 0px;

}

.logo {
    border-bottom: 1px solid black;
    color: crimson;
    text-align: center;
z-index: -1;
}

/*.navLinks {

    display:flex;
    flex:2;
    margin-left: auto;
    height: 10vh;
    font-size: 1.8rem;
    list-style: none;
    color: crimson;
    justify-content: space-around;
    
}

.navLink li Link{
    text-decoration: none;
    color: crimson;
    font-size: 1.8rem;
}

.logo {
    flex:1;
    color:red;
}*/

@media only screen and (max-width:720px){
    .sidebar ul li, .active ul li{
        margin: 2rem 0rem;
    
        
    } 
    .sidebar,.active{
        width:25vw;
    height: 30vh;
    }  
}